@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #logo {
  margin: 10vh auto 8vh auto;
  width: 50vw;
  max-width: 200px;
}
.input {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.email-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  width: 16rem;
}
.email-input .errorMessageWrap span {
  color: #d14d72;
  font-size: 0.7rem;
}
.email-input span {
  font-size: 0.8rem;
  color: #333d42;
  margin-bottom: 0.5em;
  margin-left: 0.8em;
}
.email-input input {
  height: 4.5vh;
  background-color: #fff7f8;
  border: 1px solid #333d42;
  padding: 1rem 0 1rem 0.6rem;
  box-sizing: border-box;
  border-radius: 8px;
}

.email-input input:focus {
  outline: none;
}

.password-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}
.password-input .errorMessageWrap span {
  color: #d14d72;
  font-size: 0.7rem;
}
.password-input span {
  font-size: 0.8rem;
  color: #333d42;
  margin-bottom: 0.5em;
  margin-left: 0.8em;
}
.password-input input {
  height: 4.5vh;
  background-color: #fff7f8;
  border: 1px solid #333d42;
  padding: 1rem 0 1rem 0.6rem;
  box-sizing: border-box;
  border-radius: 8px;
}

.password-input input:focus {
  outline: none;
}

/* 로그인, 회원가입 버튼  */

.button {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-button {
  color: #fff;
  background-color: #d14d72;

  border: 0;
  width: 12rem;
  height: 5vh;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

#login-button:disabled {
  color: #d14d72;
  background-color: #fff;
  border: 1px solid #d14d72;
}

/* 구분선 */
.button hr {
  border: 0;
  height: 0;
  border-top: 1px solid #fcc8d1;
  width: 16rem;
  margin: 3vh 0vh;
}

#register-button {
  color: #d14d72;
  background-color: #fff;

  width: 12rem;
  height: 5vh;

  border: 1px solid #d14d72;
  border-radius: 20px;

  font-size: 0.8em;
  font-weight: bold;

  cursor: pointer;
}
