@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  color: black;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container #date {
  width: 90vw;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#date h3 {
  font-size: 1.2em;
  font-weight: 600;
}

.container .d-dayBox {
  width: 90vw;
  height: 15vh;
  background-color: #FFECEF;
  margin-bottom: 2rem;
  padding: 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  
}

.d-dayBox .d-day {
  font-size: 1em;
}
.d-day .to-meet {
  display: flex;
  align-items: center;
  font-weight: 200;
}

.d-day #name {
  font-size: 1.15em;
  font-weight: 800;
  margin-right: 1vw;
}

.d-day .d-day-date {
  font-size: 2.5em;
  font-weight: 1000;
}
.d-dayBox span {
  font-weight: 300;
  
}
.d-dayBox .baby-img {
  background-color: #fff;
  width: 27vw;
  height: 12vh;
  border-radius: 10px;
}

.container .diet-analysis {
  width: 90vw;
  height: 15vh;
  background-color: #FCC8D1;
  margin-bottom: 2rem;
  padding: 3vw 6vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diet-analysis .analysis {
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.3vh;
  margin-bottom: 1.7vh;
}
.analysis button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.diet-analysis #record-nutrition-btn {
  width: 75vw;
  height: 5.3vh;
  outline: none;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}
.container .nutritional-supplements {
  width: 90vw;
  height: 40vh;
  background-color: #FFECEF;
  margin-bottom: 2rem;
  padding: 3vw 5vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.nutritional-supplements .supplements-top {
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.supplements-top button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
.nutritional-status {
  width: 100%;
}
.nutritional-status .status-remind {
  margin-bottom: 1vh;
}
.check-list .pharm {
  display: flex;
  align-items: center;
}

.pharm .pharm-box {
  background-color: #fff;
  margin: 0.8vh 0vh;
  width: 80%;
  height: 4.5vh;
  font-size: 1.1em;
  font-weight: 400;
  padding: 2vw;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.pharm-box .pillImage {
  font-size: 1.8em;
}
.pharm-box span {
  margin-left: 2vw;
}
.pharm button {
  cursor: pointer;
  margin-left: 5vw;
  width: 8vw;
  height: 8vw;
  background-color: #FFA8B9;
  border: none;
  outline: none;
  font-size: 1.5em;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .tips-for-pregnants {
  width: 90vw;
  height: 10vh;
  background-color: #FCC8D1;
  margin-bottom: 2rem;
  padding: 3vw 5vw;
  border-radius: 10px;

}