.pregnant-time input {
  text-align: center;
}
.pregnant-time input::placeholder {
  text-align: center;
}

/* 영양제  */
.supplement-container {
}
.supplement-container .modify-supplement {
  /* background-color: lightblue; */
  /* border-radius: 10px; */
}

.MuiGrid-rootMuiGrid-itemMuiGrid-grid-xs-12css-13i4rnv-MuiGrid-root {
  border-radius: 10px;
}
