.pregnant-time input {
  text-align: center;
}
.pregnant-time input::placeholder {
  text-align: center;
}



.MuiGrid-rootMuiGrid-itemMuiGrid-grid-xs-12css-13i4rnv-MuiGrid-root {
  border-radius: 10px;
}